@import "tailwindcss";

@layer components {
  .sidebar-group {
      @apply flex w-full flex-col gap-y-2;
  }

  .sidebar-group-title {
      @apply overflow-hidden text-ellipsis text-sm font-medium text-slate-600 dark:text-slate-400;
  }

  .sidebar-item {
      @apply flex h-[40px] w-full flex-shrink-0 items-center gap-x-3 rounded-lg p-3 text-base font-medium text-slate-900 transition-colors hover:bg-blue-50 dark:text-slate-50 dark:hover:bg-blue-950;
      &.active {
          @apply bg-blue-500 text-slate-50 dark:bg-blue-600;
      }
  }

  .title {
      @apply text-3xl font-semibold text-slate-900 transition-colors dark:text-slate-50;
  }

  .btn-ghost {
      @apply flex h-10 flex-shrink-0 items-center justify-center gap-x-2 rounded-lg p-2 text-slate-400 transition-colors hover:bg-blue-50 hover:text-slate-500 dark:hover:bg-blue-950 dark:hover:text-slate-300;
  }

  .link {
      @apply text-base font-medium text-slate-900 transition-colors hover:underline dark:text-slate-50;
  }

  .input {
      @apply hidden h-10 flex-shrink-0 items-center gap-x-2 rounded-lg border border-slate-300 px-2 text-base text-slate-900 transition-colors has-[input:focus]:border-blue-500 md:flex md:w-auto lg:w-80 dark:border-slate-700 dark:text-slate-50 dark:focus:border-blue-600;
  }

  .card {
      @apply flex flex-col gap-y-4 rounded-lg border border-slate-400 bg-white p-4 transition-colors;
  }

  .card-header {
      @apply flex items-center gap-x-2;
  }

  .card-title {
      @apply font-bold text-slate-900 transition-colors text-[1.3rem];
  }

  .card-body {
      @apply flex flex-col gap-y-2 rounded-lg p-4;
  }

  .table {
      @apply w-full text-slate-900;
  }

  .table-header {
      @apply sticky top-0 bg-slate-100 transition-[background];
  }

  .table-row {
      /* @apply border-b border-slate-300 transition-colors last:border-none dark:border-slate-400; */
      @apply border-b border-slate-300 transition-colors last:border-none dark:border-slate-400;
  }

  .table-row {
    @apply border-b border-slate-300 transition-colors last:border-none 
           odd:bg-white even:bg-slate-50 
           /* dark:odd:bg-slate-800 dark:even:bg-slate-700  */
           /* hover:bg-blue-50 dark:hover:bg-blue-900; */
           hover:bg-blue-50;
  }
  

  .table-head { 
      @apply h-12 px-4 text-start uppercase text-gray-500 text-[.9rem];
  }

  .table-cell {
      @apply w-fit whitespace-nowrap p-4 font-medium; 
  }
}

.recharts-default-tooltip {
  @apply !rounded-lg !border !border-slate-300 !bg-white transition-colors dark:!border-slate-700 dark:!bg-slate-900;
}

.recharts-tooltip-label {
  @apply text-base font-medium text-slate-900 dark:text-slate-50;
}

:root {
  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
  --pink: #FF919D;
  --glass: #ffffff;
  --glass-blur: blur(10px);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}

.App {
  /* background: linear-gradient(
    135deg,
    #0f2027 0%,
    #203a43 50%,
    #2c5364 100%
  ); */
  background: linear-gradient(
    135deg,
    #1e3c72 0%,
    #2a5298 50%,
    #4facfe 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 'weight';
  font-style: normal;
}

.AppGlass{
  background-color: var(--glass);
  backdrop-filter: var(--glass-blur);
  -webkit-backdrop-filter: var(--glass-blur); /* for Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); 
  height: 95%;
  width: 95%;
  border-radius: 1rem;
  box-shadow: var(--boxShadow);
  overflow: hidden;
}